.main-panel {
  height: 100vh;
  width: $content-width;
  background-color: $lightbackgroundcolor;
  float: right;
  overflow: hidden;
}

.content {
  width: 102.5%;
  height: 100%;
  overflow: scroll;
  padding-bottom: 10%;

  .view {
    padding: 1em;
  }
}

.social-media-icon {
  height: 2em;
  width: 2em;
}

// .main-panel{
//   overflow: hidden;
// }
