.card {
  margin-bottom: 2%;
  height: 100%;

  .card-header{
    background-color: $lightbackgroundcolor-transparent;
  }

  .card-body {
    table {
      padding: 10px;

      .label {
        width: 30%;
        text-align: justify;
        font-weight: bold;
      }

      .data {
        text-align: justify;
      }
    }
  }
}

.granite {
  margin-bottom: 0;
  background: url("../images/marble_white_150x150.png") repeat;
}