.navbar {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  align-items: justify;
  justify-content: space-between;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  height: $large-navbar-height;
  background-color: black;
  color: $light-color;

  .container-fluid {
    padding: 0;

    .spacer {
      width: $sidebar-width;
      height: $large-navbar-height;
    }

    .content {
      width: $content-width;
      text-align: justify;

      .navbar-brand {
        color: $light-color;
        padding-left: 2em;
      }
    }
  }
}
